# Database
DATABASE_URL="postgresql://postgres:postgres_secret_2026@localhost:5432/productlist?schema=public"

# Telegram Secrets
BOT_TOKEN="123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ"
TELEGRAM_WEBAPP_URL="https://yourdomain.com"

# Server Configuration
PORT=3000
NODE_ENV="production"