# 1. Neon Cloud Database Connection
DATABASE_URL=postgresql://neondb_owner:npg_Db3HTdpcv1LE@ep-royal-tooth-ayce0ivy.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# 2. Telegram Bot Configuration (دریافت‌شده از BotFather@)
BOT_TOKEN=8899411255:AAF_XQI48iaYhaL4gzpo1gdNHcZqj-sHTuU

# 3. Mini App URL (آدرس فرانت‌اند روی کلاینت محلی یا تانل)
TELEGRAM_WEBAPP_URL="http://localhost:5173"

# 4. Server Configuration
PORT=3000
NODE_ENV="development"